<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ SITE }} :: {{ title }}</title>
		<link rel="stylesheet" href="{{asset('packages/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('packages/fontawesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset('packages/theme/sb-admin.css')}}">	
		{% block styles %}
		{% endblock styles %}
	</head>
	<body>
		{% include 'kplus/includes/MenuView.twig' %}
		<div id="wrapper">
			<div id="page-wrapper">
				{% block content %}
		
				{% endblock content %}
			</div>
		</div>
		{% include 'kplus/includes/FooterView.twig' %}
		<!-- Javascript includes -->
		<script type="text/javascript">
			var baseUrl = "{{ baseurl }}";
		</script>
		<script src="{{asset('packages/jquery/jquery.min.js')}}" type="text/javascript"></script>
		<script src="{{asset('packages/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
		{% block javascript %}
		{% endblock javascript %}
	</body>
</html>