{% extends 'kplus/BaseView.twig' %}

{% block styles %}
<link rel="stylesheet" href="{{asset('packages/theme/cart.css')}}">
{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
       			{{pageTitle}}
                <small>{{subTitle}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{route('home')}}"> Overzicht</a>
                </li>
                <li class="active">
                    <i class="fa fa-check-square"></i> {{pageTitle}}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
	
	<div class="row">
		<div class="col-lg-12">
			{% if cartItems|length == 0 %}
				<h2> Nog geen producten geselecteerd </h2>
				<a class="btn btn-default" href="{{route('products')}}">Start met selecteren van producten</a>
			{% else %}
				<div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>EAN</th>
                                <th>Omschrijving</th>
                                <th>Prijs (<i class="fa fa-euro"></i>)</th>
                                <th>Hoeveelheid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
	                      	{% for cartItem in cartItems %}
	                      		<tr>
	                      			<td>{{ cartItem.product.ean }}</td>
	                      			<td>{{ cartItem.product.name }}</td>
	                      			<td><i class="fa fa-fw fa-euro"></i>{{ cartItem.product.price / 100 }}</td>
	                      			<td>{{ cartItem.qty }}</td>
	                      			<td>
	                      				<button class="btn btn-sm btn-default"><i class="fa fa-fw fa-plus"></i></button>
	                      				<button class="btn btn-sm btn-danger"><i class="fa fa-fw fa-minus"></i></button>
	                      			</td>
	                      		</tr>
	                      	{% endfor %}
	                      	<tr class="warning">
                                <td colspan="2">Totalen</td>
                                <td><i class="fa fa-fw fa-euro"></i>{{totalPrice / 100}}</td>
                                <td colspan="2">{{totalQty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			{% endif %}
		</div>
	</div>
</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block javascript %}
<script type="text/javascript" scr="{{asset('js/cart.js')}}"></script>
{% endblock javascript %}